<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/w3styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/app.css">
   
    
</head>

<body class='animBack w3-container'>

    <div class="w3-bar w3-border w3-card-4 w3-grey" style="margin-top: -1.2em">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="cartoons" class="w3-bar-item w3-button">Cartoons</a>
            <a href="gaming" class="w3-bar-item w3-button">Gaming</a>
            <a href="contact" class="w3-bar-item w3-button">Contact</a>
            <a href="#" class="w3-bar-item w3-button">Tweeter</a>
            <a href="#" class="w3-bar-item w3-button">Instagram</a>
            <a href="#" class="w3-bar-item w3-button">Facebook</a>
           </div>
       
    <section class="w3-container">
            
           
    
